
  .cart-two-button {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2.2rem;
  }

.emptycart {display: grid;
  place-items: center;
  height: 50vh;
 }
  h3 {
    font-size: 4.2rem;
    text-transform: capitalize;
    font-weight: 300;
  }
  .order-total--amount {
    background-color: #f8f8f8;
    border: 1px solid #e6e6e6;
    padding: 1rem;
  }
  
  .order-total--subdata {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .order-total--subdata div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-total--subdata div p:first-child {
    font-weight: bold;
  }
  
  .order-total--subdata hr {
    border: none;
    border-top: 1px solid #e6e6e6;
    margin: 1rem 0;
  }
 .place-order-button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  margin-top: 1rem;
 }
  